<%- include header -%>

<%- include navbar -%>

<div role="main" class="container">
  <br/><br/>
    <h2>EJS Views Example</h2>
    <div class="row sm-12">
      <div class="jumbotron">
        <address>
          <h1><%- firstName %> <%- lastName %></h1>
          <h1><%- address %></h1>
        </address>
      </div>
    </div>
</div>

<%- include scripts -%>

<%- include footer -%>
